<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90596040964-uej02fmd1afeqb7k1p252agrqq3397ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90596040964-uej02fmd1afeqb7k1p252agrqq3397ep</string>
	<key>API_KEY</key>
	<string>AIzaSyDcKO_ZTbhRW78w1r8emgyeUBA0qoWU6ow</string>
	<key>GCM_SENDER_ID</key>
	<string>90596040964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelpday</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelpday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90596040964:ios:368ac55828c864addfb051</string>
</dict>
</plist>